$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

html,
body,
#root {
  height: 100%;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  padding: 16px;
  flex-direction: column;
  @media (min-width: $sm) {
    flex-direction: row;
    padding: 48px;
  }
}

#json-viewer {
  border-radius: 20px;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-json-pretty {
  border-radius: 12px;
  padding: 10px;
}
